<div class="page container">
  <h1>Archives des matchs</h1>

  <p>
    Retrouvez ici les matchs passés classés par compétition et par saison.
  </p>

  <ul>
    <li>Saison 2024–2025</li>
    <li>Saison 2023–2024</li>
    <li>Saison 2022–2023</li>
  </ul>
</div>
